<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./index.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Test</title>
  </head>
  <body>
    <h1 class="header--1">Hello There :D</h1>
    <!-- Example app 1-->
    <div id="app">
      {{message}}
    </div>
    <!-- Example app 2-->
    <div id="app-2">
      <span v-bind:title="message">
        Hover your mouse over me for a few seconds to see my dynamically bound
        title!
      </span>
    </div>
    <!-- Example app 3-->
    <div id="app-3">
      <span v-if="seen">Now you see me!</span>
    </div>
    <!-- Example app 4-->
    <div id="app-4">
      <ol>
        <li v-for="todo in todos">
          {{todo.text}}
        </li>
      </ol>
    </div>
    <!-- Example app 5-->
    <div id="app-5">
      <p>{{message}}</p>
      <button v-on:click="reverseMessage">REVERSE!!!</button>
    </div>
    <!-- Example app 6-->
    <div id="app-6">
      <p>{{message}}</p>
      <input v-model="message" />
    </div>
    <div id="app-7">
      <ol>
        <todo-item
          v-for="item in groceryList"
          v-bind:todo="item"
          v-bind:key="item.id"
        ></todo-item>
      </ol>
    </div>
    <script src="./index.js"></script>
  </body>
</html>
